.footer{
    height: 6vh;
    background-color: rgb(255, 0, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-grid-tile-footer{
    color: white;
    font-size: 25px;
    font-weight: bold;
}